/*-------------Daelyn Hiduchick---------*/
html {
    background-color: var(--reflective);
}
:root {
    --tricorn-black:#2d2d2f;
    --coconut-husk:#6e593e;
    --connors-lakefront: #344c57;
    --briny: #287d92;
    --reflective: #f6f7f1;
    --jade-dragon: #909787;
    --bluebell: #a8d2ea;
    --fountain: #62b1cf;
    --shagreen: #c9cd9b;
    --gold: #d1a657;
    --mainTextColor: black;
}

body {
    font-family:'Inknut Antiqua';
    font-size: 20px;
    background-color: var(--reflective);
}

.button {
    background-color: var(--connors-lakefront);
    font-size: 10px;
    font-family:'Inknut Antiqua';
    color: var(--reflective);
    border-radius: 8px;
}

.columns {
    margin: 10px;
}

.columnOne {
    background-color: var(--tricorn-black);
    color: var(--reflective);
    padding: 50px;
    margin: 5px;
}

#columnTwo {
    background-color: var(--jade-dragon);
    margin:10px;
    color: var(--reflective);
    padding: 5px;
    text-align: center;
}

#columnThree {
    background-color: var(--connors-lakefront);
    color: var(--reflective);
    margin: 10px;
}

.hero {
    background-image: url('https://m.media-amazon.com/images/I/91gKsl048vL._AC_SL1500_.jpg');
    background-color: var(--tricorn-black);
}

.title {
    font-size: 30px;
    text-align: center;
    color: var(--reflective);
    padding: 10px;
}

.subtitle {
    font-size: 15px;
    text-align: center;
    color: var(--reflective);
    padding-bottom: 7px;
}

#dropdown {
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: var(--jade-dragon);
    font-family:'Inknut Antiqua';
    border-radius: 8px;
}


#pull-card-btn {
    font-size: 15px;
    font-family:'Inknut Antiqua';
}


#dailybutton{
    font-size: 15px;
    font-family:'Inknut Antiqua';
}

#tarot-card-img {
    max-height: 400px;
    max-width: 400px;
}

.image-flip {
    transform: scaleY(-1);
}

#columnThree {
    text-align: center;
}

#moons {
    text-align: center;
    padding: 10px;
}


.button:hover {
    box-shadow: 0 3px 6px 0;
    color: var(--reflective);
}

#tarot-card-img {
    padding: 7px;
}