.columnOne {
    text-align: center;
}

#homepage {
    background-color: var(--tricorn-black);
}

#available-decks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#saved-cards {
    flex-wrap: wrap;
}

#card-div {
    max-width: 400px;
}