/*-------------Daelyn Hiduchick---------*/
html {
    background-color: var(--reflective);
}
:root {
    --tricorn-black:#2d2d2f;
    --coconut-husk:#6e593e;
    --connors-lakefront: #344c57;
    --briny: #287d92;
    --reflective: #f6f7f1;
    --jade-dragon: #909787;
    --bluebell: #a8d2ea;
    --fountain: #62b1cf;
    --shagreen: #c9cd9b;
    --gold: #d1a657;
    --mainTextColor: black;
}

body {
    font-family:'Inknut Antiqua';
    font-size: 20px;
    background-color: var(--reflective);
}

.button {
    background-color: var(--shagreen);
    font-size: 10px;
    font-family:'Inknut Antiqua';
}

.columns {
    margin: 10px;
}

.columnOne {
    background-color: var(--bluebell);
}

#columnTwo {
    background-color: var(--jade-dragon);
    margin-right: 5px;
    color: var(--reflective);
}

#columnThree {
    background-color: var(--connors-lakefront);
    color: var(--reflective);
}

.hero {
    background-image: url('https://apod.nasa.gov/apod/ap141130.html');
    background-color: var(--tricorn-black);
}

.title {
    font-size: 30px;
    text-align: center;
    color: var(--reflective);
    padding: 10px;
}

.subtitle {
    font-size: 15px;
    text-align: center;
    color: var(--reflective);
    padding-bottom: 7px;
}

#dropdown {
    width: 200px;
    height: 60px;
    font-size: 15px;
    background-color: var(--pale);
    font-family:'Inknut Antiqua';
}


#pull-card-btn {
    font-size: 15px;
    font-family:'Inknut Antiqua';
}


#dailybutton{
    font-size: 15px;
    font-family:'Inknut Antiqua';
}

#tarot-card-img {
    max-height: 400px;
    max-width: 400px;
}

.image-flip {
    transform: scaleY(-1);
}